.LaunchDate {
    color: white;
    font-weight: bold;
}

.NextLaunchContainer {
    width: 100%;
}

h2 {
    font-size: 2.5em;
    font-weight: bold;
}

h4 {
    font-size: 1em;
}

.LaunchDescription {
    margin: 0rem 4rem;
}

/* screens up to 600px wide */
@media only screen and (max-width: 1300px) {
    .LaunchDescription {
        max-width: 55%;
    }

    h2 {
        font-size: 2.5em;
    }
}