.LaunchDate {
    color: white;
    font-weight: bold;
}

.NextLaunchContainer {
    width: 100%;
}

h2 {
    font-size: 4em;
    font-weight: bold;
}

/* screens up to 600px wide */
@media only screen and (max-width: 1300px) {
    .LaunchDescription {
        max-width: 55%;
    }

    h2 {
        font-size: 3.5em;
    }
}