.App {
  text-align: center;
}

.Background {
  background: url("../src/Images/Spacex-Background.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-position-y: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flexbox {
  display: flex;
  height: 100vh;
  flex-flow: column;
}
.Content {
  flex: 1 1 auto;
  margin: 0em 4em;
  justify-content: center;
  align-content: center;
  display: flex;
}

.FlexContainer-H {
  display: flex;
  flex-flow: row;
}

.FlexChild {
  flex-grow: 1;
}
.h100 {
  height: 100%;
}
.TextCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.LeftAlignText {
  text-align: left;
}

.SpaceXBtn {
  z-index: 1;
  border: 2px solid rgb(7, 63, 117) !important;
  background-color: rgba(255, 240, 240, 0) !important;
  color: white !important;
  padding: 0.9rem 2rem;
  font-size: 0.8em !important;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.SpaceXBtn:hover{
  color: white;
}

.SpaceXBtn:after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: rgb(7, 63, 117);
  color: white;
  z-index: -1;
}

.SpaceXBtn:hover:after,
.SpaceXBtn:active:after {
  height: 100%;
} 


p, h2, h4{
  margin-bottom: 15px;
  margin-top: 15px;
}